@charset 'utf-8';
@import 'reset.css';
@import 'swiper.css';


/* icon */
a.icon[class*="icon_"], button.icon[class*="icon_"], span.icon[class*="icon_"], i.icon[class*="icon_"]{
    display:inline-block;
    width:2em;height:2em;line-height: 2em;
    background-repeat: no-repeat;
    background-position: center;
    background-size:2em auto;
    position: relative;z-index:10}
a.icon.small[class*="icon_"], button.icon.small[class*="icon_"], span.icon.small[class*="icon_"], i.icon.small[class*="icon_"]{
    display:inline-block;
    width:1em;height:1em;line-height: 1em;
    background-repeat: no-repeat;
    background-size:1em auto;
    background-position: center;
    position: relative;z-index:10
}
a.icon.big[class*="icon_"], button.icon.big[class*="icon_"], span.icon.big[class*="icon_"], i.icon.big[class*="icon_"]{
    display:inline-block;
    width:3em;height:3em;line-height: 3em;
    background-repeat: no-repeat;
    background-position: center;
    background-size:3em auto;
    position: relative;z-index:10}

.icon.icon_menu{background-image: url(../images/icon/icon_menu.png)}
.icon.icon_close{background-image: url(../images/icon/icon_close.png)}
.icon.icon_sns_f{background-image: url(../images/icon/icon_sns_f.png)}
.icon.icon_sns_t{background-image: url(../images/icon/icon_sns_t.png)}
.icon.icon_sns_w{background-image: url(../images/icon/icon_sns_w.png)}
.icon.icon_quotes_start{background-image: url(../images/icon/icon_quotes_start.png)}
.icon.icon_quotes_end{background-image: url(../images/icon/icon_quotes_end.png)}
.icon.bg_black{background-color:#000}

.Icon__menu{display: inline-block;cursor: pointer;width:28px;height:33px;margin:0 5px;overflow:hidden}
.Icon__menu > div{
  width: 100%;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}


/* Button */
a[class^="Button__"]{position: relative;height:2em;width:2em;display:inline-block}
a[class^="Button__"]:after{
    content:'';opacity:0;display:block;width:1.2em;height:1.2em;border-radius: 1.2em;background:rgba(0,0,0,0.2);
    position: absolute;z-index:1;left:50%;top:50%;margin-top:-0.56em;margin-left:-0.6em;
    -webkit-transition: transform .5s, opacity .5s;
    -o-transition: transform .5s, opacity .5s;;
    transition: transform .5s, opacity .5s;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
a[class^="Button__"]:hover::after{
    opacity: .8;
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
    -webkit-transition: transform .5s, opacity .5s;
    -o-transition: transform .5s, opacity .5s;;
    transition: transform .5s, opacity .5s;
}
a[class^="Button__"]:focus:after{
    -webkit-animation-name : roundActive;
            animation-name : roundActive;
    -webkit-animation-duration:.5s;
            animation-duration:.5s;
}


/* button */
.btn_buy{display: block;background:#000;padding:1.5em 0;line-height: 2em;text-align: center;}
.btn_buy span{color:#fff;font-size:1.875em;font-weight: 600;}
.btn_buy2{display: block;background:#ab28d4;padding:1em 0;line-height: 2em;text-align: center;}
.btn_buy2 span{color:#fff;font-size:1.125em;font-weight: 600;}
.btn_wish{display: inline-block;width:5em;height:2em;background:url(../images/icon/icon_wish.png) center no-repeat;overflow: hidden;text-align: left;text-indent: -999px;}
.btn_cart{display: inline-block;width:5em;height:2em;background:url(../images/icon/icon_cart.png) center no-repeat;overflow: hidden;text-align: left;text-indent: -999px;}
.btn_login{display: block;background:#000;padding:1em 0;line-height: 1.5em;text-align: center;}
.btn_login span{color:#fff;font-size:1.125em}

.btn_confirm{display: block;background:#000;padding:1em 0;line-height: 1.5em;text-align: center;}
.btn_confirm span{color:#fff;font-size:1.125em}

.btn_form{display: inline-block;width:9em;background:#555555;padding:.5em 0em;line-height: 2em;text-align: center;}
.btn_form span{color:#fff;}
.btn_form.darker{background:#333333}
.btn_form.black{background:#000}

.btn_search{display: inline-block;width:6em;background:#333333;padding:.5em 0em;line-height: 2em;text-align: center;}
.btn_search span{color:#fff;}

.btn_basic{display: inline-block;background:#000;padding:1em 0;line-height: 2em;text-align: center;min-width:11em;box-sizing:border-box;border:1px solid #000;height:4em}
.btn_basic span{color:#fff;font-size:1.125em;vertical-align:baseline;}
.btn_basic.white{border-color:#d2d2d2;background:#fff}
.btn_basic.white span{color:#555555}
.btn_basic.gray{border-color:#fff;background:#707070}
.btn_basic.gray span{color:#fff}

.blank{display: inline-block;width:.5em}

.ButtonArea.center{text-align: center;}
.ButtonArea.right{text-align: right;}

/* Gradient */
.gradient_1{
    background: rgb(169,41,213);
    background: -moz-linear-gradient(90deg, rgba(169,41,213,1) 0%, rgba(105,73,236,1) 19%, rgba(85,83,243,1) 42%, rgba(251,0,183,1) 90%);
    background: -webkit-linear-gradient(90deg, rgba(169,41,213,1) 0%, rgba(105,73,236,1) 19%, rgba(85,83,243,1) 42%, rgba(251,0,183,1) 90%);
    background: linear-gradient(90deg, rgba(169,41,213,1) 0%, rgba(105,73,236,1) 19%, rgba(85,83,243,1) 42%, rgba(251,0,183,1) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a929d5",endColorstr="#fb00b7",GradientType=1);
}

/* layout */
html, body{width:100%;height:100%;position:relative;z-index:1;}
body{min-height:100px;} /* 최소 : 1904px */
.Layout__Allwrap{width:100%;height:100%;position:relative;z-index:1;}
.Layout__section{width:88em;margin:0 auto;}
.Layout__section.small{box-sizing: border-box;padding:0 6.5em}
.Layout__relative{position: relative;}
.Layout__container{position: relative;z-index:1;padding-top:9em;background:#000}
.Layout__header{position: fixed;top:0;left:0;right:0;z-index:100;transition: all .5s;background:#000;}
.Layout__header *{transition: all .5s;}
.Layout__header.isScroll{background:rgba(0,0,0,0.8)}
.Layout__header:after{
    content:'';
    display: block;
    position: absolute;
    left:0;
    right:0;
    bottom: 0;
    height: 1px;
    background:rgba(255,255,255,0.2);
}
.Layout__line{border-top:1px solid #d7d8da}
.Layout__fixed{position: fixed;bottom:3em;right:3em;z-index:110}
.Layout__footer{background:#fff;position: relative;z-index:1}
.Container{background:#fff}
@media (max-width: 1408px) {
    .Layout__section{width:auto;}
}

.link_talk{display: block;width:4em;height:4em;background:url(../images/icon/icon_chat.png) center no-repeat;background-size:4em auto;}

/* MainLogo */
.MainLogo{display:block;width:10em;height:4em;background-repeat:no-repeat;background-position:center;background-image:url(../images/common/logo_main_white.png);}
.MainLogo.color{background-image:url(../images/common/logo_main_color.png);}

/* Header */
.Header__content{}
.Header__logo{padding:1em 0;position: relative;z-index: 100;width:15em}
.Header__nav{position: absolute;left: 15em;right: 5em;;top:0}
.Header__link{position: absolute;right:0;top:50%;margin-top:-1em;z-index: 100;}
.Layout__header.isScroll .Header__logo{padding:0}
.Layout__header.isScroll .MainMenu{padding:0}

/* MainMenu */
.MainMenu{padding:1em 0}
.MainMenu > ul{text-align: center;}
.MainMenu > ul > li{display: inline-block;padding:0 3em}
.MainMenu > ul > li > a{display: block;line-height:4em;color:#a1a1a1;font-weight: 600;}
.MainMenu > ul > li > a:hover{color:#fff}
.isScroll .MainMenu > ul > li > a{color:#fff}

/* TotalGnb */
.Layout__TotalGnb{position: fixed;top:0;left:0;bottom:0;right:0;z-index:200;background:rgba(0,0,0,0.4)}
.TotalGnb{height:0;overflow: hidden;transition: height .3s ease;}
.TotalGnb.active{display: block;height: 100%;overflow:auto;}
.TotalGnb__contnet{padding-bottom:3em;position: relative;z-index:15;background:#fff;box-shadow: 0 0 1em rgba(0,0,0,0.5);}
.TotalGnb__top{position: relative;z-index:20;background:#fff;}
.TotalGnb__logo{float:left;padding:1em 0;}
.TotalGnb__link{position: absolute;right:0;top:50%;margin-top:-1em;}

.TotalMenu__list > li{position: relative;padding-left:17em;border-bottom:1px solid #eee}
.TotalMenu__list > li > a{position: absolute;display: block;left:0;top:1.5em;line-height:2em;width:17em;}
.TotalMenu__list > li > a > span{font-size:1.25em;color:#000;font-weight: 600;}
.TotalMenu__list > li > ul{position: relative;padding:1em 0}
.TotalMenu__list > li > ul:after{content:'';display: block;clear: both;}
.TotalMenu__list > li > ul > li{display:block;float:left;width:25%;padding:.5em 0}
.TotalMenu__list > li > ul > li > a{display: block;line-height: 2em;color:#111111}

.TotalMenu__user{padding:1.5em 0}
.TotalMenu__user > li{float:left;width:33.3%;}
.TotalMenu__user > li > a{display: block;line-height:2em;}
.TotalMenu__user > li > a > span{font-size:1.25em;color:#000;font-weight: 600;}

/* UserMenu */
.UserMenu{float:right;padding:1em 0;}
.UserMenu__link{color:#fff;display: inline-block;line-height: 1em;margin-left:.5em}
.UserMenu__link span{font-size:0.875em;text-transform: uppercase;}

/* Footer */
.Footer{}
.FooterLogo{width:15em;height:3.75em;background-repeat:no-repeat;background-position:center;}
.FooterLogo.color{background-image:url(../images/common/logo_footer_color.png);}

.Footer__content, .Footer__content a, .Footer__content p{color:#94827a;}
.Footer__inner{
    position: relative;
    box-sizing: border-box;
    float:left;
    padding:3em 2em;
    min-height: 25em;
}
.Footer__quicklink{
    width:40%;
    border-left:1px solid #d7d8da;
    border-right: 1px solid #d7d8da;
}
.Footer__info{width:30%;}
.Footer__notice{width:30%;}

.Footer__title{}
.Footer__title span{font-weight: 600;}

.FooterInfo p{font-size:0.75em;line-height: 1.4em;font-weight: 600;padding-bottom:.5em}

.FooterSns{}
.FooterSns .FooterSns__title{color:#94827a;font-size:0.875em;font-weight: 600;}
.FooterSns .FooterSns__link{padding-top:1em}

.Footer__copyright{padding:0 2em 3em}
.copyright{padding:1.5em 0 1em}
.copyright span{color:#aeaeae;font-size:12px;text-transform: uppercase;}

/* TabArea */
.TabArea{margin-left:1px;}
.TabArea:after{content:'';display: block;clear: both;}
.TabArea__item{float:left;width:33.3%}
.TabArea__item:first-child{width:33.4%}
.TabArea__item > a{border:1px solid #dddddd;display: block;padding:1em 0;line-height:1em;text-align: center;color:#555555;margin-left:-1px;}
.TabArea__item.active > a{color:#fff;background:#111111;font-weight: 600;}



/* BoardTable__basic */
.BoardTable__basic{border-top:3px solid #000;}
.BoardTable__basic .col_num{width:8em}
.BoardTable__basic .col_subject{width:auto}
.BoardTable__basic .col_date{width:20em}
.BoardTable__basic .col_writer{width:10em}
.BoardTable__basic .col_rate{width:10em}
.BoardTable__basic.center table td{text-align: center;}
.BoardTable__basic table{font-size:1em}
.BoardTable__basic table th{color:#000;height:5em;border-bottom:1px solid #d2d2d2;}
.BoardTable__basic table td{border-bottom:1px solid #d2d2d2;height:4em;color:#000;padding:.5em 0}
.BoardTable__basic table td.empty{height:4em}
.BoardTable__basic table td.left{text-align: left;}
.BoardTable__basic table td .link{display:block;line-height:1.25em;color:#555555}
.BoardTable__basic table td .link:hover{text-decoration: underline;}
.BoardTable__basic .reply{display: inline-block;width:3em;background:#000;color:#fff;text-align:center;line-height:1.5em}

.BoardTable__info .title{float:left;line-height:3em}
.BoardTable__info .title span{font-size:1.25em;font-weight: 600;}
.BoardTable__info .order{float:right;}

.BoardTable__info select{border-color:#d2d2d2;height:3em;line-height:3em;box-sizing: border-box;}


/* BoardView */
.BoardView{}
.BoardView__filelist{min-height:2em;margin-bottom:1em;}
.BoardView__filelist{padding-left:11em;position: relative;}
.BoardView__filelist .title{position: absolute;left:0;text-align: center;line-height: 2em;margin-top:-1em;top:50%;box-sizing: border-box;}
.BoardView__filelist .title span{display:block;width:10em;border:1px solid #eee;}
.BoardView__filelist ul li a{display:inline-block;line-height:2em}
.BoardView__filelist ul li a:hover{text-decoration: underline;}
.BoardView__top{position:relative;border-top:3px solid #000;padding:3em 4em;}
.BoardView__title{line-height:1.6em;font-weight: 600;}
.BoardView__title span{font-size:1.5em;color:#000}
.BoardView__info{padding-top:1em;}
.BoardView__info span{display: inline-block;padding-right:0.5em;color:#888888;min-width:6em}
.BoardView__info .id{color:#000}
.BoardView__content{padding:2em;}
.BoardView__content__inner{min-height:15em;}
.BoardView__content.answer{background:#efefef}
.BoardView__body{border-bottom: 1px solid #e5e5e5;border-top: 1px solid #e5e5e5;}
.BoardView__body .editor{min-height: 20em;padding:3.5em}
.BoardView__body .editor img{max-width: 100%;}
.BoardView__body .editor p{line-height:1.5em}
.BoardView__content.answer .BoardView__content__inner{padding:1em;border-radius: .5em;background:#fff;min-height:10em}
.BoardView__content__info{text-align:right;padding-bottom:.5em}
.BoardView__button:after{content:'';display: block;clear:both}
.BoardView__button.center{text-align:center;}
.BoardView__button .left{
    float:left;
}
.BoardView__button .right{
    float:right;
}

.BoardWrite__basic .col_title{width:14em}
.BoardWrite__basic .col_category{width:12em}
.BoardWrite__basic .col_type{width:7em}
.BoardWrite__basic .col_content{width:auto;}

.BoardWrite__basic{border-top:3px solid #000}
.BoardWrite__basic th{height:4em;border-bottom:1px solid #d2d2d2;font-weight: 800;text-align: left;padding:0 1em}
.BoardWrite__basic td{padding:.5em;text-align:left;border-bottom:1px solid #d2d2d2;}
.BoardWrite__basic input{border-color:#d2d2d2;height:3em;line-height:1em;box-sizing: border-box;border-radius: 0;}
.BoardWrite__basic select{border-color:#d2d2d2;height:3em;line-height:3em;box-sizing: border-box;}

/* FileStyle */
.FileStyle{}
.FileStyle input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}
.FileStyle .file{position: relative;padding-right:10em}
.FileStyle input[type="text"] {
    border-color:#d2d2d2;
    height:3em;
    line-height:1em;
    box-sizing: border-box;
    border-radius: 0;
    color:#555;
    width:100%;
}
.FileStyle label {
    position: absolute;
    right:0;
    top:0;
    display: block;
    padding: .5em 0em;
	line-height:2em;
    width:10em;
    color: #000;
    text-align: center;
    vertical-align: middle;
    background-color: #777777;
    cursor: pointer;
}
.FileStyle label > span{color:#fff}
.FileStyle label:hover{background:#000}

/* Quicklink */
.Quicklink__menu{display:flex;flex-direction: row;flex-wrap: nowrap;justify-content: space-between}
.Quicklink__link{box-sizing: border-box;position: relative;}
.Quicklink__link .title > a{font-weight: 600;font-size:13px}
.Quicklink__link > ul > li{padding-top:1em}
.Quicklink__link > ul > li > a{font-weight: 600;font-size:13px}
.Quicklink__link > ul > li > ul > li > a{font-size:12px;color:#beb1ab}
.Quicklink__link.link_3 .title{padding-bottom: 1em;}
.Quicklink__link.link_2:after, .Quicklink__link.link_3:after{content:'';display: block;position: absolute;left:-2em;height:6em;top:50%;margin-top:-3em;width:1px;background:#ece4e4}

/* FooterNotice */
.FooterNotice{}
.FooterNotice__list{}
.FooterNotice__item{position: relative;font-size:0.75em;padding-bottom:2em}
.FooterNotice__item > a.link{position: absolute;left:0;top:0;bottom:0;right:0}
.FooterNotice__item .title > span{color:#4c5257;}
.FooterNotice__item .text > span{color:#7d8489;}
.FooterNotice__item .date{padding-top:1em}
.FooterNotice__item:hover .title span{text-decoration: underline;}
.FooterNotice__item:hover .text span{text-decoration: underline;}

/* VisualArea */
.VisualArea.swiper-container {
    width: 100%;
    height: 100%;
    background: #000;
    position: fixed;
    top:9em;
    left:0;
    right:0;
}
.VisualArea .swiper-slide {
    text-align: center;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.VisualArea .swiper-pagination{left:0;top:30%;width: 1.5em;padding-left: 2em;}
.VisualArea .swiper-pagination-custom{position:relative;display: block;color:#616161;font-size:14px;line-height:2.5em;cursor: pointer;}
.VisualArea .swiper-pagination-custom:after{
    content:'';
    display: block;
    position: absolute;
    background:#616161;
    left:4px;
    right:4px;
    bottom:0;
    height:1px;
    transition: left 0.3s;
}
.VisualArea .swiper-pagination-custom.swiper-pagination-bullet-active{
    background:none;
    color:#fff;
    font-weight: 600;
}
.VisualArea .swiper-pagination-custom.swiper-pagination-bullet-active:after{
    background:#fff;
    left:-2em;
    right:4px;
    height:2px;
}


/* MainContent */
.MainContent__area{position:relative;z-index:100;margin-top:69em;background:#fff;overflow: hidden;}
.MainContent{}
.MainContent__inner{box-sizing: border-box;padding:3em 0}
.MainContent__title{padding:2em 2em 0}
.MainContent__title .title{line-height: 3em;text-transform: uppercase;}
.MainContent__title .title span{font-size:2.8em;color:#000;font-weight: normal;}
.MainContent__title .sub_title{line-height: 2em;}
.MainContent__title .sub_title span{font-size:1.4em;color:#5f5f5f;font-weight: normal;}
.MainContent__title .sub_title strong{color:#000;text-transform: uppercase;}

.MainContent__bg01{background:url(../images/main/bg_1.png) center no-repeat;background-size:auto 100%}
.MainContent__bg01 .MainContent__inner{padding:4em 0 2em}
.MainContent__bg01 .MainContent__title .title span{color:#fff;letter-spacing: .2em;}
.MainContent__bg01 .MainContent__title .sub_title span{color:#fff}
.MainContent__bg01 .MainContent__title .sub_title strong{color:#fff}

.MainBanner{position: relative;}
.MainBanner .img > img{width:100%}
.MainBanner_1 .link{position: absolute;right:0;top:0;}

/* ProductList */
.ProductList{padding:2em 0}
.ProductList .mark{
    display:inline-block;
    width:2.5em;height:2.5em;
    background-repeat: no-repeat;
    background-size:2.5em auto;
    background-position: center;
}
.ProductList .link{
    display:inline-block;
    width:3em;height:3em;
    background-repeat: no-repeat;
    background-size:3em auto;
    background-position: center;
}
.mark.mark_new{background-image: url(../images/icon/icon_new.png)}
.mark.mark_hot{background-image: url(../images/icon/icon_hot.png)}
.link.link_view{background-image: url(../images/icon/icon_view.png)}
.link.link_link{background-image: url(../images/icon/icon_link.png)}

.ProductList{position: relative;}

.ProductList__title{
    transform: rotate(90deg);
    position: absolute;
    left: -8em;
    top: 50%;
}
.ProductList__title span{font-size:0.875em;color:#b6b6b6;text-transform: uppercase;}
.ProductList__list{}
.ProductList__more{position: absolute;right:-4em;bottom:4em;width:4em;height:4em;display:block;background:url(../images/icon/icon_plus.png) no-repeat center;}
.ProductList__more{transition: transform .5s ease;}
.ProductList__more:hover{transform:rotate(360deg)}

.ProductList__list:after{content:'';display: block;clear: both;}
.ProductList__item{position: relative;width:25%;float:left;box-sizing: border-box;padding:0em 1em 3em;}

.ProductList__item:hover .ProductList__over{display: block;}
.ProductList__item:hover .ProductList__info:after{width:100%}
.ProductList__item .img{transition: transform .5s;}
.ProductList__item.on .img{transform:translateY(-1em)}
.ProductList__item .img{width:17.5em;height:23em;margin:0 auto;z-index:35;overflow:hidden;}
.ProductList__over{display: none;position: absolute;left:0;right:0;top:0}
.ProductList__over .img{position: relative;z-index:40;box-shadow: .5em .5em 1em rgba(0,0,0,0.5)}
.ProductList__over .img:after{content:'';position:absolute;left:0;right:0;top:0;bottom:0;border:1px solid #fb00b7;z-index:30}
.ProductList__over .links{position:absolute;left:0;right:0;top:50%;margin-top:-1.25em;text-align: center;z-index:50}
.ProductList__over .links span.txt{display: block;position: absolute;bottom:-1.5em;left:0;right:0;text-align: center;font-size:14px;color:#fff;font-weight: 600;}
.ProductList__basic .img{position: relative;z-index:20}
.ProductList__basic .img:after{content:'';position:absolute;left:0;right:0;top:0;bottom:0;border:2em solid #f3f3f3;z-index:30}
.ProductList__basic .marks{position: absolute;right:1em;bottom:1.7em;z-index:40}

.ProductList__info{padding-top:2em;width:17.5em;padding-bottom:3em;margin:0 auto;position: relative;transition: width .5s;}
.ProductList__info:after{content:'';display: block;position: absolute;left:0;height:2px;background:#acacac;bottom:0;width:4em;}
.ProductList__info .info{display: block;position: relative;}
.ProductList__info .link{position: absolute;left:0;right:0;top:0;bottom:0;display:block;width:100%;height: 100%;}

.ProductList__list.small .img{height:19em;width:19em;overflow:hidden}

.ProductList__vertical_list .ProductList__basic .img{margin:0}
.ProductList__vertical_list .ProductList__over .img{margin:0}
.ProductList__vertical_list .ProductList__over{left:1em}

.ProductList__vertical_list .ProductList__item.small .img{height:17.5em;width:17.5em;overflow:hidden}
.ProductList__vertical_list .ProductList__item.small .img img{width:100%}
.ProductList__vertical_list .ProductList__item{float:none;width:auto;padding-bottom:2em;margin-bottom:2em;}
.ProductList__vertical_list .ProductList__item{border-bottom:1px solid #d8d8d8;}

.ProductList__vertical_list .ProductList__item:last-child{border:0}
.ProductList__vertical_list .ProductList__info{left:23em;top:0;position:absolute;width:auto;right:3em}
.ProductList__vertical_list .ProductList__info:after{display:none}

.ProductList__vertical_list .ProductList__info .category{font-size:1.5em;color:#000}
.ProductList__vertical_list .ProductList__info .title{color:#b0bbff}
.ProductList__vertical_list .ProductList__info .txt{color:#555555}
.ProductList__vertical_list .ProductList__info .tag a{color:#9135dd}

.ProductList__item:hover .title{color:#c66262}
.ProductList__item:hover .title{color:#000}
.ProductList__item:hover .txt{color:#000}
.ProductList__info .category{color:#000;font-size:12px;padding-bottom:2em}
.ProductList__info .title{color:#acacac;padding-bottom:.5em;text-transform: uppercase;}
.ProductList__info .txt{
    color:#acacac;
    font-size:12px;
    height:48px;
    line-height:16px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;    
}
.ProductList__info .more > a{color:#acacac;font-size:12px}
.ProductList__info .tag{padding-top:1em}
.ProductList__info .tag a{color:#c66262;display: inline-block;font-size:12px}
.ProductList__info .tag a:hover{text-decoration: underline;}

.ProductList__list.white .ProductList__info .title{color:#d3d3d3}
.ProductList__list.white .ProductList__info .category{color:#d3d3d3}
.ProductList__list.white .ProductList__info .tag a{color:#d3d3d3}
.ProductList__list.white .ProductList__info .txt{color:#d3d3d3}
.ProductList__list.white .ProductList__item:hover .category{color:#fff}
.ProductList__list.white .ProductList__item:hover .title{color:#fff}
.ProductList__list.white .ProductList__item:hover .title{color:#fff}
.ProductList__list.white .ProductList__item:hover .txt{color:#fff}
.ProductList__list.white .ProductList__item:hover .tag a{color:#fff}


.range{position: relative;padding-right:90px;}
.range .gauge{background:#efefef;height:3px;display: block;position: relative;}
.range .gauge .current{position: absolute;left:0;top:0;bottom:0;background:#333}

.range .txt{position: absolute;right:0;top:50%;line-height:1em;margin-top:-.5em;font-size:12px;color:#000;width:90px;text-align: right;}
.range .txt .current{color:#fb00b7}

/* ProductLayer */
.ProductLayer{display:none;position: fixed;top:0;bottom:0;left:0;right:0;z-index:1000;background:rgba(0,0,0,0.2)}
.ProductLayer.active{display: block;}
.ProductLayer__inner{
    position:absolute;
    left:50%;
    margin-left:-15em;
    top:25%;
    width:30em;
    padding:4em 3em 1em;
    box-sizing: border-box;
    border:2px solid #000;
    background:#fff url(../images/common/bg_arrow_01.png) 0 0 no-repeat;
}
.ProductLayer__close{
    position: absolute;
    right:0;
    top:0;
    width:4em;
    height: 4em;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/common/btn_close.png);
}
.ProductLayer__title .title{line-height: 4em;}
.ProductLayer__title .title span{color:#000;font-size:3.75em;font-weight: 600;letter-spacing: -1px;}
.ProductLayer__title .txt{line-height: 2em;}
.ProductLayer__title .txt span{color:#4b4a4a;font-size:1.8em;font-weight: 600;}
.ProductLayer__content{padding:2em 0}
.ProductLayer__content .img{display: block;position: relative;overflow: hidden;}
.ProductLayer__content .img:after{content:'';display:block;position:absolute;border:1em solid #455bf9;width: 100%;height: 100%;top:0;left:0;box-sizing: border-box;}
.ProductLayer__content .price{font-size:2.2em;color:#3d3d3d;line-height: 2.5em;}
.ProductLayer__content .price strong{font-size:1.2em;color:#000;vertical-align: middle;}
.ProductLayer__content .etc{padding-top:1em;text-align: right;}

/* ContentTop */
.ContentTop{background-repeat: no-repeat;background-position:center;background-color:#000;background-attachment: fixed;}
.ContentTop.bg01{background-image:url(../images/content/content_top_img_1.png)}
.ContentTop .text{padding:6em 0 8em}

/* SubContent */
.SubContent{padding:7em 0;overflow:hidden}
.SubContent.narrow{padding:4em 0}
.SubContent.bg_gray{background:#f4f4f4}
.SubContent__title{line-height: 2.5em;}
.SubContent__title:after{content:'';display:block;height:3px;width:3em;background:#000;margin:2.5em 0;}
.SubContent__title span{font-size:2.2em;color:#000;font-weight: 600;}
.SubContent__title.center{text-align: center;}
.SubContent__title.center:after{margin:2.5em auto;}
.SubContent__title2 span{font-size:2.2em;color:#000;font-weight: 600;}
.SubContent__title2.center{text-align: center;}
.SubContent__text p{font-size:1.25em;color:#555555;line-height: 1.5em;letter-spacing: -0.5px;}
.SubContent__text.center{text-align: center;}

.SubContent__img.left{text-align: left;}
.SubContent__img.right{text-align: right;}

/* SubList */
.SubList{margin-left:-7em;}
.SubList:after{content:'';display: block;clear:both}
.SubList__item{float:left;width:50%;}
.SubList__inner{padding-left:7em;}
.SubList__item .img img{max-width: 100%;}
.SubList__item .title{line-height: 1.5em;}
.SubList__item .title span{font-size:1.25em;font-weight: 600;color:#000}
.SubList__item .txt{line-height: 1.2em;height:6em}
.SubList__item .txt span{color:#555555}

/* YoutubeArea */
.Video {
  width: 100%;
}
.Video__youtube {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 50%;
}
.Video__youtube iframe{
  z-index: 1;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

/* LoginArea */
.LoginArea{background:url(../images/content/login/bg_login.png) left top no-repeat;}
.LoginArea__box{display:block;float:right;width:50%;background:#fff}
.LoginArea__inner{width:28em;margin:10em auto;}
.LoginArea__title{line-height: 2.5em;text-align: center;}
.LoginArea__title span{font-size:2.3em;font-weight: 600;color:#000;letter-spacing: -.5px;}
.LoginArea__input input{width:100%}
.LoginArea__etc{text-align: center;}
.LoginArea__etc a{display: inline-block;padding:0 1em;position:relative;}
.LoginArea__etc a:after{content:'';display:block;width:1px;position:absolute;left:0;top:0;bottom:0;background:#eee;}
.LoginArea__etc a:first-child:after{display: none;}
.LoginArea__etc a > span{font-size:0.875em;color:#111111}
.LoginArea__etc a:hover > span{text-decoration:underline}

/* PopupArea */
.PopupArea{display:none;position: fixed;top:0;bottom:0;left:0;right:0;z-index:1000;background:rgba(0,0,0,0.2)}
.PopupArea.active{display: block;}
.PopupArea__inner{
    position:absolute;
    left:50%;
    margin-left:-14em;
    top:25%;
    width:28em;
    padding:4em 3em;
    box-sizing: border-box;
    background:#fff;
}
.PopupArea__close{
    position: absolute;
    right:1em;
    top:1em;
    width:2em;
    height: 2em;
    background-size:2em auto;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/common/btn_close.png);
}

.PopupArea__input input{line-height:1em;height:3.3em;width:100%}
.PopupArea__title .title{line-height: 1.5em;text-align: center;}
.PopupArea__title .title span{color:#000;font-size:1.25em;font-weight: 600;letter-spacing: -1px;}

/* ProductView */
.ProductView{position: relative;min-height:30em;overflow: hidden;}
.ProductView__content{
    box-sizing: border-box;
    padding-right: 30em;
    padding-top:5em;
    padding-bottom:5em;
}
.ProductView__content.bg_gray{background:#f9f9f9}
.ProductView__inner{padding:0 6.5em;max-width: 50em;margin:0 auto;position: relative;}
.ProductView__inner.no_width{max-width:auto}
.ProductView__quick{
    position: absolute;
    right:0;
    top:0;
    bottom:0;
    background:#fff;
    width:30em;
    box-sizing: border-box;
    padding:5em 2em;
    border-left:1px solid #d7d8da;
    z-index:90;
    overflow-y:auto;
}
.ProductView__quick.isFixed{position: fixed;}
.ProductView__quick.isFixed .DetailInfo{
    transition: transform .5s;
    transform:translateY(5em);
}
.ProductView__title{line-height: 3em;}
.ProductView__title > span{color:#000;font: bold;font-size:2.1em;font-weight: 600;}
.ProductView__text{padding:1em 0}
.ProductView__text span{line-height: 1.5em;color:#555555}
.ProductView__text p{line-height: 1.5em;color:#555555}

.ProductTitle{line-height:1.2em;position: relative;padding-right:12em}
.ProductTitle__title{line-height:2.2em}
.ProductTitle__title span{font-size:1.5em;color:#000;letter-spacing: -1px;}
.ProductTitle__button{position: absolute;right:0;top: 50%;margin-top: -2em;}

.ProductScroll.swiper-container{width:35em;padding-bottom:3em;overflow: unset;margin:0}
.ProductScroll .ProductScroll__box{width:35em}
.ProductScroll .ProductScroll__box .img{height:35em;width:35em}
.ProductScroll .ProductScroll__box .info{height:5em;padding-top:1em}
.ProductScroll .ProductScroll__box .title{color:#000;font-size:1.25em;line-height: 1.5em;font-weight: 600;}
.ProductScroll__button{position:absolute;left:0;right:0;bottom:0;text-align: center;z-index:1000}
.ProductScroll__button .swiper-button{
    display:inline-block;
    width:3em;
    height:3em;
    overflow:hidden;
    text-indent: -999px;
    background-position: center;
    background-size: 2em auto;
    background-repeat: no-repeat;
    border:1px solid #dddddd;
    border-radius: 3px;
}
.ProductScroll__button .swiper-button.swiper-button-next{
    background-image:url(../images/icon/icon_next.png)
}
.ProductScroll__button .swiper-button.swiper-button-prev{
    background-image:url(../images/icon/icon_prev.png)
}

.ReviewScroll.swiper-container{width:30em;padding-bottom:6em;overflow: unset;margin:0}
.ReviewScroll__box{
    height:30em;
    width:30em;
    border:1px solid #eee;
    position: relative;
    box-sizing: border-box;
    padding:4em 3em;
}
.ReviewScroll__box:after{content:"";display:block;position: absolute;left:0;right:0;top:0;height:1em;background:#000;}
.ReviewScroll__box .title{color:#000;font-size:1.875em;line-height: 1.2em;font-weight: 600;letter-spacing: -1px;height:2.4em}
.ReviewScroll__box .etc{padding-top:1em}
.ReviewScroll__box .etc span{display:inline-block;color:#555555;letter-spacing: -1px;padding-right:1em}
.ReviewScroll__box .content{padding-top:1em}
.ReviewScroll__box .content p{padding-top:1.5em;line-height: 1.5em;}

.ProductCurri{}
.ProductCurri__item{position:relative;min-height:12em;padding-left:18em;}
.ProductCurri__item .img{position:absolute;left:0;top:0}
.ProductCurri__item .info{padding-left:2em;padding-top:1em;min-height: 12em;}
.ProductCurri__item .num{display:block;width:2em;height:2em;line-height:2em;background:#000;border-radius: 2em;text-align: center;}
.ProductCurri__item .num span{color:#fff;font-size:12px}
.ProductCurri__item .title{padding:.5em 0}
.ProductCurri__item .title span{font-size:1.25em;color:#000;line-height: 1.5em;}
.ProductCurri__item .list li{padding:.2em 0;color:#555555}

/* BoardList */
.BoardInfoTotal{display:flex;justify-content: space-between;}
.BoardInfoTotal .BoardInfo{width:45%}
.BoardInfo__title{padding:1em 0}
.BoardInfo__title > span{font-size:1.5em;color:#000;font-weight: 600;}
.BoardInfo__notice{border-top:2px solid #000}
.BoardInfo__notice .inner{padding:1em 0}
.BoardInfo__list{border-top:2px solid #000}
.BoardInfo__list .inner{padding:1em 0}
.BoardInfo__list a:hover{text-decoration: underline;}

.BoardList{}
.BoardList__title{line-height: 2.5em;padding:1em 0}
.BoardList__title > span{font-size:2.2em;color:#000;font-weight: 600;}
.BoardList__list{border-top:2px solid #000}
.BoardList__item{border-bottom:1px solid #dddddd}
.BoardList__item > a{display: block;padding:1em 0;line-height:1.5em;color:#555555;font-size:1em;}

/* DetailInfo */
.DetailInfo__box{border:1px solid #eee}
.DetailInfo__box > div{margin:0 1.5em;}
.DetailInfo__title{line-height: 2em;border-bottom:2px dashed #eee;padding:3em 0 2em}
.DetailInfo__title span{color:#000;font-size:1.6em;font-weight: 600;}
.DetailInfo__desc{position: relative;}
.DetailInfo__item{padding:2em 0;padding-right:8em}
.DetailInfo__item span{display: block;color:#111111;line-height: 1.5em;}
.DetailInfo__price{position: absolute;right:0;top:50%;margin-top:-2em;line-height: 4em;}
.DetailInfo__price span{font-size:1.25em;font-weight: 600;}
.DetailInfo__total{background:#000;color:#fff;position: relative;}
.DetailInfo__total .title{
    display: block;
    position: absolute;
    left:2em;
    top:50%;
    line-height: 2em;
    color:#fff;
    margin-top:-1em;
}
.DetailInfo__total .price{
    display:block;
    color:#fff;
    text-align: right;
    font-weight: 600;
    padding:2em 2em;
    line-height: 2em;
}
.DetailInfo__total .price strong{font-size:1.875em;vertical-align: middle;}

/* JoinForm */
.JoinForm{padding:5em 0}
.JoinForm__title{text-align: center;line-height: 2em;}
.JoinForm__title > span{font-size:2.3em;color:#000;font-weight: 600;}
.JoinForm__form{border-top:2px solid #000;}
.JoinForm__row{position: relative;min-height:4em;border-bottom:1px solid #d2d2d2;padding-left:12em;color:#000}
.JoinForm__row .blank{display: inline-block;min-width:.5em;text-align: center;line-height:3em}
.JoinForm__row .title{position: absolute;right:0;left:0;top:1em;line-height:3em;color:#000000;font-weight: 800;width:10em;}
.JoinForm__row .data{padding:1em 0}
.JoinForm__row .noti{color:#a2a2a2;padding:1em 0;line-height: 1em;}
.JoinForm input{height:3em;line-height: 1em;border:1px solid #d2d2d2;border-radius: 0;color:#000}
.JoinForm select{height:3em;line-height: 3em;border:1px solid #d2d2d2;border-radius: 0;color:#000;box-sizing: border-box;}

.JoinForm__text .title{padding-top:1em;line-height:3em;color:#000000;font-weight: 600;width:10em;}
.JoinForm__text .data{max-height:20em;overflow-y:auto;box-sizing: border-box;padding:2em;border:1px solid #d2d2d2}
.JoinForm__text .data p{padding-bottom: 3em;line-height: 1.5em;color:#555555}
.JoinForm__button.right{text-align: right;}

.radio_agree:after{content:'';display: block;clear: both;}
.radio_agree > label{display:block;float:left;background:#fff}
.radio_agree > label > input[type='radio']{position:absolute;left:-999px;}
.radio_agree > label > span{color:#a2a2a2;font-weight: 600;width:10em;border:1px solid #a2a2a2;position: relative;text-align: center;line-height: 3em;display:block}
.radio_agree > label > input[type='radio']:checked + span{color:#000;border-color:#000}
.radio_agree > label > input[type='radio']:checked + span:before{content:'';display: inline-block;width:2em;height:2em;background:url(../images/icon/icon_check.png) no-repeat center;background-size:2em auto;vertical-align: middle;}

.check_agree{display: block;overflow: hidden;position: relative;text-align: center;}
.check_agree > label > input[type='checkbox']{position:absolute;left:-99999px;}
.check_agree > label > span{display:inline-block;color:#a2a2a2;font-weight: 600;padding:0 6em;border:1px solid #a2a2a2;position: relative;text-align: center;line-height: 3em;}
.check_agree > label > input[type='checkbox']:checked + span{color:#000;border-color:#000}
.check_agree > label > input[type='checkbox']:checked + span:before{content:'';display: inline-block;width:2em;height:2em;background:url(../images/icon/icon_check.png) no-repeat center;background-size:2em auto;vertical-align: middle;}

/* JoinFin */
.JoinFin{background:#fff;padding:10em 0;}
.JoinFin__inner{width:50em;margin:0 auto;}
.JoinFin__title{line-height: 2.5em;text-align: center;}
.JoinFin__title span{font-size:2.3em;color:#000}
.JoinFin__txt {text-align: center;}
.JoinFin__txt span{color:#444444}
.JoinFin__info{background:#f8f8f8;padding:2em 0}
.JoinFin__info ul{text-align: center;}
.JoinFin__info ul li{display:inline-block;padding:0 3em}
.JoinFin__info ul li span{color:#333333;display:inline-block;width:8em;text-align: left;}
.JoinFin__info ul li strong{color:#111;font-size:1.25em;vertical-align: middle;}
.JoinFin__button{text-align: center;}
.JoinFin__icon{text-align:center}
.JoinFin__icon .icon_lock{display:inline-block;width:6em;height:6em;background:url(../images/icon/icon_lock.png) center no-repeat;background-size:6em auto;}

/* ClassInfo */
.ClassInfo{background:#111111;color:#fff}
.ClassInfo__title{text-align: center;border-bottom: 1px solid #414141;}
.ClassInfo__title .title{line-height:2.5em;}
.ClassInfo__title .title span{font-size:2.5em;font-weight: 600;}
.ClassInfo__title .date{line-height:1.5em;}
.ClassInfo__detail{}
.ClassInfo__detail .info:first-child{width:33.4%}
.ClassInfo__detail .info{float:left;width:33.3%;text-align: center;box-sizing: border-box;padding:3em 0}
.ClassInfo__detail .period{border-left:1px solid #414141;border-right:1px solid #414141}
.ClassInfo__detail .info strong{display: block;line-height:2em;font-size:1.25em}
.ClassInfo__detail .info span{display: inline-block;line-height:1.5em;font-size:3.1em;font-weight: 800;position: relative;z-index:10;padding:0 .3em;letter-spacing: -1px;}
.ClassInfo__detail .info span:after{display:block;content:'';position: absolute;left:0;right:0;height:8px;top:50%;margin-top:-4px;background:#ff00ba;z-index:-1}